.card-product {
  position: relative;
  overflow: hidden;
  &:hover &__img {
    transform: scale(1.05);
    filter: brightness(0.9);
  }
  &:hover &__title {
    color: $white;
  }
  &__img {
    transition-property: transform, filter;
    transition-duration: 0.5s;
  }
  &__title {
    background-color: $primary-color;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    padding: 1.5rem 0;
    font-weight: 700;
    transition-property: color;
    transition-duration: 0.5s;
  }
}
