.credits {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: $white;
  &__text {
    margin: 0;
    font-family: $main-title;
  }
  &__logo {
    margin-top: 0.5rem;
    width: 4rem;
    overflow: hidden;
    border-radius: 1rem;
  }
}
