.footer {
  background-image: url("../assets/img/fondo-header-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  & .center:nth-child(2) {
    @include tablet {
      justify-content: flex-start;
    }
  }
  &__container {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: grid;
    gap: 3rem;
  }
  &__information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
    }
  }
  &__item {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    & svg {
      font-size: 2.5rem;
      margin-right: 0.5rem;
    }
    @include tablet {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 2rem;
      &:first-child {
        margin-top: 0;
      }
      & svg {
        font-size: 4.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
