.main-menu {
  @include reset-list;
  display: flex;
  @include tablet {
    width: 70%;
    background-color: #1c1c1c;
    color: $white;
    flex-direction: column;
    height: 100%;
    padding: 3rem 2rem;
    overflow-y: auto;
  }
  &--footer {
    @include reset-list;
    display: flex;
    & * + * {
      border-left: 0.3rem solid $primary-color;
      @include tablet {
        border-left: none;
        margin-top: 2rem;
      }
    }
    @include tablet {
      flex-direction: column;
    }
  }
  & * + * {
    border-left: 0.3rem solid $primary-color;
    @include tablet {
      border-left: none;
      margin-top: 3rem;
    }
  }
  &__item {
    padding: 1rem;
    font-family: $main-title;
    font-size: 2rem;
    transition-property: background-color, color;
    transition-duration: 0.5s;
    &:hover {
      color: #fff;
      background-color: #000;
    }
    @include tablet {
      padding: 0;
    }
    &--footer {
      padding: 1rem 3rem;
      font-family: $main-title;
      font-size: 2rem;
      transition-property: background-color, color;
      transition-duration: 0.5s;
      &:hover {
        color: #fff;
        background-color: #000;
      }
      @include tablet {
        padding: 0;
      }
    }
  }
  &__link {
  }
}
