.search {
  display: flex;
  overflow: hidden;
  border-radius: 2rem;
  border: 0.5rem solid #ccc;
  &__input {
    border: none;
    // padding: 1rem 0rem 1rem 2rem;
  }
  &__button {
    background-color: $white;
    // padding: 0 2rem;
  }
}
