.search {
  display: flex;
  overflow: hidden;
  border-radius: 1rem;
  width: 65rem;
  border: 0.5rem solid #ccc;
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 6rem;
    width: 100%;
  }
  &__input {
    border: none;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    @include tablet {
      width: 100%;
    }
  }
  &__button {
    background-color: $white;
    padding: 0 2rem;
    @include tablet {
    }
  }
}
