.social-networks {
  display: flex;
  align-items: center;
  & * + * {
    margin-left: 1rem;
  }
  &__item {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #fff;
    transition-property: background-color, color;
    transition-duration: 0.5s;
    &:hover {
      color: #fff;
      background-color: #000;
    }
    @include mobile {
      width: 4.5rem;
      height: 4.5rem;
      font-size: 2.5rem;
    }
  }
}
