* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
}

div {
  font-family: $main-font;
}

p {
  font-family: $main-font;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

li {
  font-family: $main-font;
}

span {
  font-family: inherit;
  color: inherit;
}
button {
  border-radius: 0;
}

//MINIFRAMEWORK
.container {
  max-width: 170rem;
  margin-left: auto;
  margin-right: auto;
}

.section {
}

.title {
}
.subtitle {
}
