-//Variables head
- let tituloRedes="Ferreteria Company";
- let descripccionRedes="Ferreteria";
- let urlWeb="";
- let twitterCard="";
- let favicon="assets/img/icon/";
- let imgWeb="";
-//Variables
- let img='assets/img/'