-//Variables head
- let tituloRedes="Ferretería Company";
- let descripccionRedes="Ferretería";
- let urlWeb="https://company.pe/";
- let twitterCard="";
- let favicon="assets/img/icons/favicon.ico";
- let imgWeb="assets/img/banner.jpg";
-//Variables
- let img='assets/img/'