mixin card
  a(href="detalle-producto.html")
    .card
      figure.card__img
        img(src=`${img}producto.jpg`, alt="producto ferreteria company")
      p.card__category Tuberías
      h3.card__title Tubo
