.banner {
  position: relative;
  & .slick-prev,
  & .slick-next {
    z-index: 20;
    &::before {
      font-size: 6rem;
    }
  }
  & .slick-prev {
    left: 2rem;
  }
  & .slick-next {
    right: 6rem;
  }
  &__img {
    & img {
      width: 100%;
    }
  }
}
