$size-arrow: 7rem;
$separation: 2rem;
.banner {
  position: relative;
  & .slick-prev,
  & .slick-next {
    z-index: 20;
    width: $size-arrow;
    height: $size-arrow;
    &::before {
      font-size: $size-arrow;
    }
    @include mobile {
      width: 4rem;
      height: 4rem;
      &::before {
        font-size: 4rem;
      }
    }
  }
  & .slick-prev {
    left: $separation;
  }
  & .slick-next {
    right: $separation;
  }
  &__img {
    & img {
      width: 100%;
    }
  }
}
